<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>

        <% if (!user) { %>
            <p>Главная</p> 
            <p>Пожалуйста, <a href="/login"> авторизуйтесь </a></p>
        <% } else { %>
            <p>Привет, <%= user.username %>. </p>
            <p>Перейти в <a href="/profile">профиль</a>.</p>
        <% } %>
    </div>
</div>

<%- include('../port/layout-end') %> 